syntax: glob

build/
out/
.gradle/
dist/
.idea/
.jar
.apk
.bin
*.iml
*.orig
*.class
.classpath
.project
.settings/
.DS_Store
catalina-ant/
.checkstyle
.empty
target/
findbugs/
version.properties
build.properties
container_settings.json
local.properties
import-summary.txt
gradlew.bat
app/build/
app/libs/
